*.swp
.tundra2*
t2-output
playlist.json
default_playlist.hpl
.ccls-cache
songdb*.*
src/hippo_core/core/target
src/hippo_core/core/Cargo.lock
src/hippo_core/config/target
src/hippo_core/config_test/target
src/hippo_core/song_db/target
src/hippo_core/song_db/Cargo.lock
src/hippo_core/xxh3/target
src/hippo_core/xxh3/Cargo.lock
src/hippo_core/logger/target
src/hippo_core/logger/Cargo.lock
src/hippo_core/miniaudio/target
src/hippo_core/miniaudio/Cargo.lock


